@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
    --color-text: #333333;
    --color-primary-200: #c6e0ff;
    --color-primary: #2978a0;
    --color-secondary: #d9dd81;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-text);
}
